#model_container {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}

#interactive_object {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#interactive_object canvas {
  display: block;
  width: 300px;
  height: 300px;
}
