@import "../../variables.module";

//**************************************************** PAGE-STYLES ***************************************************

.inner {
  position: relative;
  width: $inner-width;
  margin: 0 auto;
}

//************************************************** PROJECT DETAILS **************************************************

.project_summary_section {
  position: relative;
  width: 100%;
}

.project_description {
  margin: 140px auto 0 auto;
  position: relative;
  width: 90%;
  display: flex;
}

//************************************************ left column(70%)
.description {
  width: 70%;
  padding-right: 150px;
}

.description_title {
  font-size: $work_caption_size;
  margin-bottom: 75px;
}

.description_paragraph {
  color: $dark_font_color;
}

.project_website_link {
  display: inline-block;
  font-weight: bold;
  margin: 40px auto calc(40vh + 100px) 5%;
}

//************************************************ right column(30%)

.project_data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.snippet_title {
  font-size: $bolder_font_size;
  margin-bottom: 10px;
}

.snippet_description {
}


//************************************************** PURPLE SECTION BEGINS **************************************************

.stakeholder_section {
  position: relative;
  background-color: #29222F;
}

//********************************************* stakeholder before-after media

.before_after_wrapper {
  top: 0;
  left: 50%;
  position: absolute;
  width: 100%;
  height: 80vh;
  transform: translate(-50%, -50%);
}

.before_after_inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.before_after_media {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ddd;
}

//************************************************ description rows

.purple_descriptions_wrapper {
  padding-top: calc(40vh + 160px);
}

.purple_description {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  padding-bottom: 230px;
  display: flex;
  justify-content: space-between;
}

.purple_description_inner {
  max-width: 25vw;
}

.stakeholder_title {
  margin-bottom: 75px;
  font-size: $bolder_font_size;
  color: $light_font_color;
}

.stakeholder_description {
  color: $light_font_color;
}

.stakeholder_img_container {
  width: 40vw;
  height: 30vw;
  position: relative;
  overflow: hidden;
}

.stakeholder_img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ddd;
}

// worksample section

.more_interviews {

}

.more_descriptions {
  padding-top: 350px;
  h1, h2, h3, p {
    color: $dark_font_color;
  }
}

.worksample_bottom {

}

.bottom_image_wrapper {
  height: 80vh;
}

.bottom_image_wrapper_inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bottom_image {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social_row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 145px 0 280px 0 ;
}

.question {
}

.social_icons {
  display: flex;
}

$icon-size: 40px;

.icon_facebook {
  background-image: url(../../assets/images/facebook.svg);
  width: $icon-size;
  height: $icon-size;
  background-size: cover;
  margin-left: 20px;
  transition: background-image 0.3s;
  &:hover {
    background-image: url(../../assets/images/facebook_hover.svg);
  }
}

.icon_linkedin {
  background-image: url(../../assets/images/linkedin.svg);
    width: $icon-size;
  height: $icon-size;
  background-size: cover;
  margin-left: 20px;
  transition: background-image 0.3s;
  &:hover {
    background-image: url(../../assets/images/linkedin_hover.svg);
  }
}

.icon_twitter {
  background-image: url(../../assets/images/twitter.svg);
    width: $icon-size;
  height: $icon-size;
  background-size: cover;
  margin-left: 20px;
  transition: background-image 0.3s;
  &:hover {
    background-image: url(../../assets/images/twitter_hover.svg);
  }
}

