@import "../../variables.module.scss";

//************************************************** HEADER WRAPPERS **************************************************

:global(.headroom-wrapper) {
  position: absolute;
  z-index: 100;
}

.header {
  width: 100vw;
  transition: background-color 0.5s;
}

//********************************************* HEADROOM LIFECYCLE CLASSES *********************************************

:global(.headroom) {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: absolute;
}

:global(.headroom--unfixed) {}

:global(.headroom--scrolled) {
  transition: transform .3s ease-in-out;
  .header {
    transition: background-color 0s;
    background-color: #fff;
    border-bottom: 2px solid $dark_font_color;
    .link_wrapper:after {
      background-color: $dark_font_color;
    }
    .link_text {
      color: $dark_font_color;
    }
    .inner {
      height: 80px;
    }
  }
  #M polygon {
    fill: $dark_font_color;
  }
}

:global(.headroom--unpinned) {
  .inner {
    height: 80px;
  }
}

:global(.headroom--pinned) {}

.inner {
  transition: height 1s;
  width: 90%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

#M {
  width: 30px;
  height: 30px;
  polygon {
    transition: fill 0.5s;
  }
}

.links_container {
  list-style: none;
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.link_wrapper {
  position: relative;
  &:nth-child(1) {
    width: 62px;
    height: 32px;
  }
  &:nth-child(2) {
    width: 73px;
    height: 32px;
  }
  &:nth-child(3) {
    width: 75px;
    height: 32px;
  }
  &:nth-child(4) {
    width: 48px;
    height: 32px;
  }
  .link_text {
    transition: transform .3s;
    position: absolute;
    @include Avenir-Black;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
  &:hover {
    &:after {
      transition: 1s width cubic-bezier(1,.01,0,1);
      width: 100%;
      bottom: 10px;
    }
    .link_text {
      transform: translateY(-5px);
    }
  }
}

.link_wrapper:after {
  content: " ";
  position: absolute;
  background: #fff;
  width: 0%;
  height: 3px;
  right: 0;
  bottom: 0px;
  transition: bottom .3s ease;
}

.wave {
  width: 30px;
}

.hamburger {
  width: 40px;
  height: 40px;
  background-image: url(../../assets/images/menu_icon.png);
  -webkit-background-size: cover;
  background-size: cover;
  cursor: pointer;
}

.hamburger, .mobile_menu {
  display: none;
}

@media (max-width: 768px) {
  .hamburger, .mobile_menu {
    display: block;
  }

  .links_container {
    display: none;
  }
}

.mobile_menu {
  transition: transform 0.5s cubic-bezier(.07,.95,.59,.95);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,0.95);
}

.mobile_menu_inner {
  position: relative;
  height: 100%;
  width: 100%;
}

#close_button {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 30px;
  height: 30px;
  border: none;
  background-image: url(../../assets/images/Grey_close.png);
  -webkit-background-size: cover;
  background-size: cover;
}

.links_container_mobile {
  list-style: none;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  .link_wrapper {
    font-size: 36px;
  }
}



//
//.active {
//  transform: translateY(-5px);
//}
//
//.active.link:after {
//  content: " ";
//  background: #fff;
//  width: 100%;
//  height: 2px;
//  position: absolute;
//  right: 0;
//  bottom: 0;
//}

@media (min-width: 768px) and (max-width:1280px) {
  width: 4vw;
  height: auto;
}

@media (min-width: 1281px) {
  width: 2.5vw;
  height: auto;
}