.carousel_wrapper {
  height: 100%;
  background-color: grey;
}

.carousel_wrapper > div, .carousel_wrapper > div > div {
  height: 100%;
  //position: relative;
}

.siema_item {
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  cursor: default;
  background-color: green;
}

#si0 {
  background-image: url("../../images/si2.jpeg");
}

#si1 {
  background-image: url("../../images/si1.jpeg");
}

#si2 {
  background-image: url("../../images/si3.jpeg");
}

#si3 {
  background-image: url("../../images/si4.jpeg");
}

.carouselButtons_wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  max-height: 100px;
  width: 20px;
  justify-content: space-between;
}