.carousel_wrapper {
  height: 100%;
  background-color: grey;
}

.carousel_bg_and_controls {
  height: 100%;
}

.lead_image_wrapper__outer {
  position: absolute;
  width: 100vw;
  height: 40vh;
  transition: transform cubic-bezier(.1,.6,.3,.96) 1.5s;
}

.lead_image_wrapper__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.lead_image {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carouselButtons_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 20px 0 auto;
  z-index: 1000000;
}

.carouselButtons_wrapper {
  div:nth-child(1) > div {
    transition-delay: 0.5s
  }
  div:nth-child(2) > div {
    transition-delay: 0.4s
  }
  div:nth-child(3) > div {
    transition-delay: 0.3s
  }
  div:nth-child(4) > div {
    transition-delay: 0.2s
  }
  div:nth-child(5) > div {
    transition-delay: 0.1s
  }
  div:nth-child(6) > div {
    transition-delay: 0s
  }
}

:global(.lead) {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  transition: height 1s;
}

:global(.shrinkedLeadWrapper) {
  height: 40vh !important;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform cubic-bezier(.6,.01,.43,1) 1.5s, height cubic-bezier(.6,.01,.43,1) 1.5s;
}

.contentMedia {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero_bg {
  height: 100%
}

.hiddenControls {
  opacity: 1;
}