.progressCircle {
  //position: relative;

}

.round_progress {
  position: absolute;
  top:-5px;
  left:-5px;
  transform: scale(1.2);
}

.owl_next {
  transform: scale(0.3);
  position: relative;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 10px 10px 9px 10px;
  margin-left: -10px;
  background-color: #999;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  transition: background-color 0.4s;
  &:hover {
    background-color: #fff;
    cursor: pointer
  }
}

:global(.circleStroke) {
  transition: stroke 0.3s;
  stroke: #fff;
}

.stroke_dark {
  stroke: #232323
}


.owlNext_dark {
  background-color: #4A4A4A;
  &:hover {
    background-color: #232323;
  }
}

.owl_carousel_navigation {
  vertical-align: middle; //kell
  width: 24px;
  height: 24px;
}

:global(.owl_next--active) {
  background-color: #fff;
}

.activeOwlNext {
  background-color: #fff;
}

:global(.hidden) {
  display: none
}